@import 'fonts';

#task-input{
    font-family: "FiraSans";
}

button {
    font-family: Montserrat;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 2.25;
}

.task-item {
    font-family: FiraSans;
}

#task-input-popup {
    font-family: MontserratMedium;
    font-weight: normal;
    font-size: 0.75rem;
    color: white;
}