@import 'fonts';

div.center input#task-input{
    font-family: "FiraSans";
}

div.center .button {
    font-family: Montserrat;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 2.25;
}

.task-item {
    font-family: FiraSans;
    font-size: 0; // to get rid of the space between inline-block elements ...
    line-height: 2.5;

    .task-text {
        font-size: 1rem; // ... revert to the right font-size
    }
}