@font-face {
  src: url("./fonts/fira-sans/FiraSans-Regular.otf");
  font-family: FiraSans;
  font-weight: normal;
}

@font-face {
  src: url("./fonts/fira-sans/FiraSans-Bold.otf");
  font-family: FiraSans;
  font-weight: bold;
}

@font-face {
  src: url("./fonts/fira-sans/FiraSans-Light.otf");
  font-family: FiraSans;
  font-weight: lighter;
}

@font-face {
  src: url("./fonts/Montserrat/Montserrat-Regular.ttf");
  font-family: Montserrat;
  font-weight: normal;
}

@font-face {
  src: url("./fonts/Montserrat/Montserrat-Bold.ttf");
  font-family: Montserrat;
  font-weight: bold;
}

@font-face {
  src: url("./fonts/Montserrat/Montserrat-Light.ttf");
  font-family: Montserrat;
  font-weight: lighter;
}

@font-face {
  src: url("./fonts/Montserrat/Montserrat-Medium.ttf");
  font-family: MontserratMedium;
  font-weight: normal;
}

#task-input {
  font-family: "FiraSans";
}

.button {
  font-family: Montserrat;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 2.25;
}

.task-item {
  font-family: FiraSans;
}

#task-input-popup {
  font-family: MontserratMedium;
  font-weight: normal;
  font-size: 0.75rem;
  color: white;
}

/*** Basic CSS Reset ***/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: inherit;
}

input,
textarea,
button,
select {
  outline: none;
}

html {
  font-size: 16px;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*** Center card basic styling ***/
html {
  background-color: #fff824;
}

div.center-card {
  background-color: white;
  width: 400px;
  height: 450px;
  /* some temp constant height */
  border-radius: 15px;
  margin: auto;
  margin-top: 200px;
}

/* Box shadow */
div.center-card {
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.center-card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.button {
  display: inline-block;
  background-color: #000000;
  border-radius: 6px;
  height: 36px;
  width: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.button:hover, .button:focus {
  cursor: pointer;
  background-color: #fff;
  color: black;
  line-height: 2;
  border: 2px black solid;
  outline: none;
}

.button#button-delete-all {
  -webkit-box-flex: 1;
      -ms-flex: 1 115px;
          flex: 1 115px;
}

.button#button-delete-checked {
  -webkit-box-flex: 1;
      -ms-flex: 1 160px;
          flex: 1 160px;
  margin-right: 10px;
}

.input-area {
  margin: auto;
  padding-top: 30px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input-area input#task-input {
  width: 240px;
  height: 2em;
  padding: 1em;
  margin-right: 2em;
  border: 2px solid #DADCE0;
  border-radius: 4px;
}

.input-area input#task-input:focus {
  border-color: black;
}

.input-area input#task-input::-webkit-input-placeholder {
  color: #DADCE0;
}

.input-area input#task-input:-ms-input-placeholder {
  color: #DADCE0;
}

.input-area input#task-input::-ms-input-placeholder {
  color: #DADCE0;
}

.input-area input#task-input::placeholder {
  color: #DADCE0;
}

.input-area #task-input-container {
  position: relative;
}

.input-area #task-input-container #task-input-popup {
  visibility: hidden;
  position: absolute;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  bottom: 2.5rem;
  left: -0.15rem;
}

.input-area #task-input-container #task-input-popup::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 1rem;
  border-width: 8px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.input-area #task-input-container #task-input-popup.show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
}

.task-area {
  min-height: 295px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.task-area .task-list {
  background-color: #F8F8F8;
  height: 275px;
  width: 80%;
  border-radius: 10px;
  overflow-y: auto;
}

.task-area .task-list .task-item {
  position: relative;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.task-area .task-list .task-item .task-rectangle {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.5rem;
          flex: 0 0 1.5rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  height: inherit;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0.5rem 0.1rem 0.5rem 0.9rem;
  background-image: url("./images/task-rectangle.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.task-area .task-list .task-item .task-rectangle:hover {
  cursor: pointer;
  background-image: url("./images/task-rectangle-hover-dark.svg");
}

.task-area .task-list .task-item .task-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  max-width: 230px;
}

.task-area .task-list .task-item .task-text:hover {
  cursor: text;
}

.task-area .task-list .task-item .task-text:focus {
  outline: none;
}

.task-area .task-list .task-item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 2px;
  left: 5%;
  bottom: 0;
  background-color: rgba(204, 204, 204, 0.24);
  border-radius: 3px;
}

.task-area .task-list .task-item.checked .task-rectangle {
  background-image: url("./images/task-rectangle-small-tick.svg");
}

.task-area .task-list .task-item.checked .task-rectangle:hover {
  background-image: url("./images/task-rectangle-ticked-hover-dark.svg");
}

.task-area .task-list .task-item.checked .task-text {
  text-decoration: line-through;
  color: #ccc;
}

.task-area .task-list .task-item:hover .task-delete {
  background-image: url("./images/cross-14px.svg");
}

.task-area .task-list .task-item .task-delete {
  -webkit-box-flex: 0;
      -ms-flex: 0  0 1.5625rem;
          flex: 0  0 1.5625rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  height: 25px;
  margin-right: 0.9rem;
  margin-top: 0.5rem;
  background-color: #F8F8F8;
  border-radius: 20px;
  background-position: 3px center;
}

.task-area .task-list .task-item .task-delete:hover {
  cursor: pointer;
  background-color: #DADCE0;
  background-image: url("./images/cross-14px-hover-dark.svg");
}

.task-area .task-list.narrow .task-text {
  max-width: 215px;
}

.footer {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
/*# sourceMappingURL=style.css.map */